*{
 margin: 0;
 padding: 0;
}

body {
 font-family: 'Merriweather', serif;
 background-color: #ebf2ff;
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: space-around;
 background-color: #fff;
}

.navbar__brand {
 width: 100px;
}

.navbar__logo {
 width: 100%;
}

.button__primary{
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
    margin: 10px;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: capitalize;
    transition: 0.5s;
    font-weight: 600;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
    display: block;
}

.button__primary :hover {
 border: 2px solid #FF6767;
 cursor: pointer;
}

.container {
 max-width: 100%;
 padding: 20px;
 margin: 0 auto;
}
.hero__image__shape{
  position: absolute;
}
.hero__image__container {
 width: 100%;
 position: relative;
}

.hero__image {
  position: absolute;
  right:auto;
  left: auto;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text {
 font-weight: 800;
 font-size: 30px;
 margin: 20px 0;
 color: #1d3557;
}

.food__card__description {
 padding: 15px;
}

.food__card {
 background-color: #F9F9F9;
}

.food__card__image__container {
 width: 100%;
}

.food__image {
 border-radius: 8px 8px 0 0;
 width: 100%;
}

.explore__menu__text {
 margin-top: 30px;
 margin-bottom: 20px;
 text-align: center;
 font-size: 30px;
 font-weight: 800;
 color: #1d3557;
}

@media (min-width: 768px) {
 .explore__menu__lists {
 margin-top: 45px;
   display: flex;
   gap: 15px;
   padding: 0 30px;
 }

 .explore__menu__container {
   position: relative;
 }

 .explore__menu__gradient__bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: linear-gradient(to right,#ff512f 0%,#dd2476 51%,#ff512f 100%);
   z-index: -3;
   transform: skewY(-5deg);
 }

 #pizza__card {
   margin-top: -20px;
   margin-bottom: 30px;
 }

 .navbar {
   justify-content: space-between;
   padding: 10px 30px;
 }

 .hero__container {
   margin-top: 20px;
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
 }
}

@media (min-width: 1024px) {
 .container {
    max-width: 70%;
 }

 .explore__menu__lists {
   gap: 25px;
 }

  .navbar__brand {
    width: 150px;
  }

  .button__primary  {
    padding: 20px;
    font-size: 20px;
  }

  .hero__description {
    width: 100%;
  }

  .hero__text {
    font-size: 50px;
  }

  .explore__menu__text {
    font-size: 48px;
  }
}
.email_in{
border: 1px solid #ee89a0;
background-color: #fcedf0;
color: #1d3557;
font-weight: 700;
padding: 0.5rem;
border-radius: 4px;
}


.email__input {
    display: flex;
    align-items: center;
}
.email {
    margin-top: 3rem;
    width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}
.pic__container{
  position: relative;
    margin-top: 4rem ;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background: url(https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80) center center / cover no-repeat;
}
.pic{
  position: absolute;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
}

.text__in__pic{
  color: white;
  text-align: center;
  z-index: 3;
  margin: 0 1rem;

}
.restaurant__list__container {
    margin-top: 3rem;
}


.text-xl {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
  text-align: center;
}
.restaurant__images__row__1, .restaurant__images__row__2 {
    width: 100%;
    display: flex;
    gap: 3px;
}
.restaurant__list__row_1 {
    display: flex;
    align-items: baseline;
}
.food__list__view__more{
    margin: 2rem 0;
    transition: 0.3s;
    color: #fff;
    padding: 1rem;
    border-radius: 6px;
    background: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);

}
@media (min-width: 768px)
.food__list__view__more {
    display: flex;
    justify-content: center;
}

.restaurant__list__row_1 {
    display: flex;
    align-items: baseline;
    margin-bottom: 3px;
    gap:3px;
    width: 100%;
}
.restaurant__image__1,.restaurant__image__4{
     border-radius: 4px;
     margin-right: 5px;
     margin-left: 5px;
     width: 150px;
     height:80px;
     box-shadow: 0 10px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 7%);
}
.restaurant__1, .restaurant__2, .restaurant__3, .restaurant__4 {
    width: 100%;
    height: 100%;
}
.restaurant_list images_container{
  width: 100%;
}

.restaurant__list__row_2 {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

.restaurant__image__2, .restaurant__image__3 {
    border-radius: 4px;
    width: 200px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: 3px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 7%);
}


footer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100% );
}
footer>img{
  width: 300px;
  filter: brightness(0) invert(1);
}
footer>ul{
  margin-top: -1rem;
  color: white;
}
footer ul li{
  margin: 5px 0;
}
